<div class="wrapper">
  <app-header-comp></app-header-comp>
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row">

          <div class="col-8">
            <div class="typography-line">
              <h3>มูลนิธิแม่ฟ้าหลวง</h3>
              <h5>
                920/4 หมู่ 7 อาคารอเนกประสงค์ พระตำหนักดอยตุง ต.แม่ฟ้าหลวง
                อ.แม่ฟ้าหลวง จ.เชียงราย 57240
              </h5>
              <h5>Tel. 02-252-7114</h5>
              <h5>Facebook: <a href="https://www.facebook.com/faideeyouthcamp/">Faidee youth camp</a></h5>
            </div>
          </div>

          <div class="col-4">
            <img src="assets/img/line-qr.jpg">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
