<div class="row">
    <div class="col-9">
        <div class="typography-line">
            <h3 style="text-align: left;">ข้อมูลผู้ใช้งานระบบ</h3>
        </div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-success btn-round pull-right" (click)="openModal()"><i class="fa fa-plus"></i> เพิ่มใหม่</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ชื่อผู้ใช้งาน</th>
        <th scope="col" style="width: 10%;"></th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of dataDisplay; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ user.username }}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm pull-right" (click)="removeUser(user)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
    
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="dataSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
    
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="5">5 หน้า</option>
        <option [ngValue]="10">10 หน้า</option>
        <option [ngValue]="15">15 หน้า</option>
    </select>
</div>


<ng-template #modalUserReg let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">กรอกข้อมูลผู้ใช้งาน</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="userRegisterForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        ชื่อผู้ใช้งาน :
                    </div>
                    <div class="col-8">
                        <input type="text" 
                                class="form-control form-control-success" 
                                id="txt-modal-uid" 
                                [(ngModel)]="username" 
                                autocomplete="false"
                                formControlName="uid" 
                                [ngClass]="{ 'is-invalid': submitted && f.uid.errors }">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                        รหัสผ่าน :
                    </div>
                    <div class="col-8">
                        <input type="password" 
                                class="form-control form-control-success" 
                                id="txt-modal-pwd" 
                                [(ngModel)]="password" 
                                autocomplete="false"
                                formControlName="pwd1" 
                                [ngClass]="{ 'is-invalid': submitted && f.pwd1.errors }">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                        ยืนยันรหัสผ่าน :
                    </div>
                    <div class="col-8">
                        <input type="password" 
                                class="form-control form-control-success" 
                                id="txt-modal-repwd" 
                                [(ngModel)]="rePassword" 
                                autocomplete="false"
                                formControlName="pwd2" 
                                [ngClass]="{ 'is-invalid': submitted && f.pwd2.errors }">
                    </div>
                </div>
                <br/>
                <p>
                    <ngb-alert [type]="'danger'" (close)="alertStatus = false" *ngIf="alertStatus">รหัสผ่านและยืนยันรหัสผ่านไม่เหมือนกัน !</ngb-alert>
                </p>
                <p>
                    <ngb-alert [type]="'danger'" (close)="dupStatus = false" *ngIf="dupStatus">ชื่อผู้ใช้งานซ้ำ !</ngb-alert>
                </p>
            </div>
        </form>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-round" (click)="addUser()">บันทึก</button>
    </div>
</ng-template>

<ng-template #modalUserComplted let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">แจ้งเตือน</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="typography-line">
        <h5>บันทึกสำเร็จ !</h5>
      </div>
    </div>
</ng-template>