<div class="row">
    <div class="col-9">
        <div class="typography-line">
            <h3 style="text-align: left;">ข้อมูลผู้ใช้งานระบบ</h3>
        </div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-success btn-round pull-right" (click)="openModal()"><i class="fa fa-plus"></i> เพิ่มใหม่</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" style="width: 80%; text-align: left; padding-left: 50px;">ชื่อผู้ใช้งาน</th>
        <th scope="col" style="width: 10%;"></th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of dataDisplay | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td style="text-align: left; padding-left: 50px;">{{ user.username }}</td>
            <td class="btn-group pull-right">
                <button type="button" class="btn btn-warning btn-sm" (click)="onEditUser(user)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="removeUser(user)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
    
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="dataSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
    
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="5">5 รายการ</option>
        <option [ngValue]="10">10 รายการ</option>
        <option [ngValue]="15">15 รายการ</option>
    </select>
</div>


<ng-template #modalUserReg let-modal data-target="#modal">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">กรอกข้อมูลผู้ใช้งาน</h4>
        <button type="button" class="close" aria-label="Close" (click)="onResetUserForm()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="userRegisterForm" style="margin-bottom: 0px !important;">
            <div class="form-group">
                <div class="row">
                    <div class="col-4 col-text-center">
                        ชื่อผู้ใช้งาน :
                    </div>
                    <div class="col-8">
                        <input type="text" 
                                class="form-control form-control-success" 
                                id="txt-modal-uid" 
                                [attr.disabled]="mode == 'U' ? true : null"
                                [(ngModel)]="username" 
                                autocomplete="false"
                                formControlName="uid" 
                                [ngClass]="{ 'is-invalid': submitted && f.uid.errors }">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4 col-text-center">
                        รหัสผ่าน :
                    </div>
                    <div class="col-8">
                        <input type="password" 
                                class="form-control form-control-success" 
                                id="txt-modal-pwd" 
                                [(ngModel)]="password" 
                                autocomplete="false"
                                formControlName="pwd1" 
                                [ngClass]="{ 'is-invalid': submitted && f.pwd1.errors }">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4 col-text-center">
                        ยืนยันรหัสผ่าน :
                    </div>
                    <div class="col-8">
                        <input type="password" 
                                class="form-control form-control-success" 
                                id="txt-modal-repwd" 
                                [(ngModel)]="rePassword" 
                                autocomplete="false"
                                formControlName="pwd2" 
                                [ngClass]="{ 'is-invalid': submitted && f.pwd2.errors }">
                    </div>
                </div>
                <br/>
            </div>
        </form>

        <p>
            <ngb-alert [type]="alertType" (close)="alertStatus = false" *ngIf="alertStatus">{{ alertTxt }}</ngb-alert>
        </p>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-round" *ngIf="mode == 'I'" (click)="addUser()">บันทึก</button>
        <button type="button" class="btn btn-success btn-round" *ngIf="mode == 'U'" (click)="updateUser()">บันทึก</button>
    </div>
</ng-template>

<ng-template #modalCompleted let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">แจ้งเตือน</h4>
        <button type="button" class="close" aria-label="Close" (click)="onResetUserForm()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="typography-line">
        <h5>บันทึกสำเร็จ !</h5>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-round" (click)="onResetUserForm()">ตกลง</button>
    </div>
</ng-template>

<ng-template #modalConfirmDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">แจ้งเตือน</h4>
        <button type="button" class="close" aria-label="Close" (click)="onResetUserForm()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="typography-line">
        <h5>คุณต้องการลบรายการนี้หรือไม่ ?</h5>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-round" (click)="deleteUser()">ตกลง</button>
        <button type="button" class="btn btn-danger btn-round" (click)="onResetUserForm()">ยกเลิก</button>
    </div>
</ng-template>