<div class="page-header page-header-xs section-dark" style="background-image: url('assets/img/main-bg.jpg')">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="title-brand">
              <!-- <div class="angular-logo">
                  <img src="assets/img/angular2-logo.png" alt="">
              </div> -->
              <h1 class="presentation-title">ค่ายเด็กใฝ่ดีหอฝิ่นป้องกันยาเสพติด</h1>
          </div>

          <h2 class="presentation-subtitle text-center">มูลนิธิแม่ฟ้าหลวงในพระบรมราชูปถัมภ์</h2>
      </div>
  </div>
</div>