<div class="wrapper">
    <app-header-comp></app-header-comp>
    <div class="main">
        <div class="section">
            <div class="container">

                <div class="typography-line row">
                    <h3>กดเพื่อดาวน์โหลดฟอร์ม รายชื่อผู้เข้าร่วมโครงการค่ายเด็กใฝ่ดี</h3>
                </div>

                <div class="row">
                    <a class="btn btn-success btn-round" href="https://drive.google.com/file/d/1BvRsy3gT3Ev2SD_CAWBJqc-EtmcqVXJ9/view" role="button">ดาวน์โหลด</a>
                    &nbsp;
                    <a class="btn btn-success btn-round" href="https://drive.google.com/file/d/1BvRsy3gT3Ev2SD_CAWBJqc-EtmcqVXJ9/view" target="_blank" role="button">สำรอง</a>
                </div>

            </div>
        </div>
    </div>
</div>
