<div class="wrapper">
    <app-header-comp></app-header-comp>
    <div class="main">
        <div class="section">
            <div class="container">

                <div class="typography-line row">
                    <h3>กดเพื่อดาวน์โหลดฟอร์ม รายชื่อผู้เข้าร่วมโครงการค่ายเด็กใฝ่ดี</h3>
                </div>

                <div class="row">
                    <a class="btn btn-success btn-round" href="https://doc-00-4s-docs.googleusercontent.com/docs/securesc/vspmreq40752q1dnler82gc44e9crj8n/j8ughcue7hkeblvgv25329vkgq1ft6g1/1578578400000/11502417714199267433/17051277924788799083/1BvRsy3gT3Ev2SD_CAWBJqc-EtmcqVXJ9?e=download&authuser=0&nonce=8gr0rovjj88rk&user=17051277924788799083&hash=h5k5nk8a9qj2d3vrtiofvihvrm80m32k" role="button">ดาวน์โหลด</a>
                    &nbsp;
                    <a class="btn btn-success btn-round" href="https://drive.google.com/file/d/1BvRsy3gT3Ev2SD_CAWBJqc-EtmcqVXJ9/view" target="_blank" role="button">สำรอง</a>
                </div>

            </div>
        </div>
    </div>
</div>
