<div class="wrapper">
    <app-header-comp></app-header-comp>
    <div class="main">
        <div class="section">
            <div class="container">

                <div class="typography-line">
                    <h3>กดเพื่อดาวน์โหลดฟอร์ม (ฟอร์มอะไรซักอย่างกดๆไปเหอะ)</h3>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-success btn-round">ดาวน์โหลด</button>
                </div>

            </div>
        </div>
    </div>
</div>
