<div class="wrapper">
    <app-header-comp></app-header-comp>
    <div class="main">
        <div class="section">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="typography-line">
                            <h3>ข้อมูลโรงเรียน</h3>
                        </div>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ชื่อโรงเรียน</th>
                      <th scope="col">หลักสูตร</th>
                      <th scope="col">จำนวน</th>
                      <th scope="col">วันที่จอง</th>
                      <th scope="col" style="width: 10%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let school of dataDisplay; let i = index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ school.name}}</td>
                            <td>{{ school.course == '1' ? '9 - 12 ปี' : '13 - 15 ปี' }}</td>
                            <td>{{ school.amount }} คน</td>
                            <td>{{ school.year_month_day }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-sm pull-right" (click)="onRowSelected(school)"><i class="fa fa-eye"></i></button>
                                    <button type="button" class="btn btn-danger btn-sm pull-right" (click)="openModalRemove(school)"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                  
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="dataSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                  
                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                        <option [ngValue]="5">5 รายการ</option>
                        <option [ngValue]="10">10 รายการ</option>
                        <option [ngValue]="15">15 รายการ</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #modalSchoolDetail let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ dataItem.name }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            
            <div class="row">
                <div class="col-4">ที่อยู่ :</div>
                <div class="col-8">{{ dataItem.location }}</div>
            </div>
            <div class="row">
                <div class="col-4">หลักสูตร :</div>
                <div class="col-8">{{ dataItem.course == '1' ? '9 - 12 ปี' : '13 - 15 ปี' }}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-4">จำนวน :</div>
                <div class="col-8">{{ dataItem.amount }} คน</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-4">วันที่จอง :</div>
                <div class="col-8">{{ dataItem.eventDate }}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-4">เบอร์ติดต่อ :</div>
                <div class="col-8">{{ dataItem.tel }}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-4">Email :</div>
                <div class="col-8">{{ dataItem.email }}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-4">ครูผู้ประสานงาน(หลัก) :</div>
                <div class="col-8">{{ dataItem.teacherMainName }} ({{ dataItem.teacherMainTel }})</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-4">Line ID :</div>
                <div class="col-8">{{ dataItem.teacherMainTel }}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-4">ครูผู้ประสานงาน(รอง) :</div>
                <div class="col-8">{{ dataItem.teacherSubName }} ({{ dataItem.teacherSubTel }})</div>
            </div>
            <div class="row">
                <div class="col-4">Line ID :</div>
                <div class="col-8">{{ dataItem.teacherSubTel }}</div>
            </div>
            <br/>

        </div>
        
    </div>
</ng-template>

<ng-template #modalComfirmRemoveSchool let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">แจ้งเตือน</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="typography-line">
        <h5>คุณต้องการลบรายการนี้หรือไม่ ?</h5>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-round" (click)="removeSchool()">ตกลง</button>
        <button type="button" class="btn btn-danger btn-round" (click)="modal.dismiss('Cross click')">ปิด</button>
    </div>
</ng-template>