<div class="wrapper">
    <app-header-comp></app-header-comp>
    <div class="main">
        <div class="section">
            <div class="container">

                <div class="row" *ngFor="let item of dataDisplay">
                    <div class="col-md-12">
                      <div class="card ">
                        <div class="card-header ">
                            <h5 class="card-title">{{ item.title }}</h5>
                        </div>
                        <div class="card-body">{{ item.description }}</div>
                        <div class="card-footer">
                          <hr>
                          <div class="stats">
                            <i class="fa fa-calendar-o"></i> {{ item.year_month_day }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
