<div class="row">
    <div class="col-9">
        <div class="typography-line">
            <h3 style="text-align: left;">ข้อมูลรูปกิจกรรม</h3>
        </div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-success btn-round pull-right" (click)="openModal()"><i class="fa fa-plus"></i> เพิ่มใหม่</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">หัวข้อ</th>
      <th scope="col">จำนวนรูป</th>
      <th scope="col" style="width: 10%;"></th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let act of dataDisplay; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ act.title }}</td>
            <td>{{ act.path.length }}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm pull-right" (click)="removeAct(act)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="dataSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="5">5 หน้า</option>
        <option [ngValue]="10">10 หน้า</option>
        <option [ngValue]="15">15 หน้า</option>
    </select>
</div>

<ng-template #modalActivity let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">กรอกรายละเอียด</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">

            <div class="row">
                <div class="col-3">
                    หัวข้อ :
                </div>
                <div class="col-9">
                    <input type="text" class="form-control form-control-success" id="txt-modal-title" [(ngModel)]="title" autocomplete="false">
                </div>
            </div>
            <br/>
            <div class="row" *ngFor="let item of path; let i = index">
                <div class="col-3">
                    Path {{ i + 1 }} :
                </div>
                <div class="col-7">
                    <input type="text" class="form-control form-control-success" [(ngModel)]="path[i]" autocomplete="false">
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-sm pull-right" (click)="addActPath()"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-round" (click)="addInfoData()">บันทึก</button>
    </div>
</ng-template>

<ng-template #modalActivityComplted let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">แจ้งเตือน</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="typography-line">
        <h5>บันทึกสำเร็จ !</h5>
      </div>
    </div>
</ng-template>