<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/']">Youth camp</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!loginStatus">
                    <a [routerLink]="['/user-reg']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i> ลงทะเบียน</a>
                </li>
                <li class="nav-item" *ngIf="!loginStatus">
                    <a [routerLink]="['/activity']" class="nav-link"><i class="nc-icon nc-album-2"></i> รูปกิจกรรม</a>
                </li>
                <li class="nav-item" *ngIf="!loginStatus">
                    <a [routerLink]="['/form-download']" class="nav-link"><i class="nc-icon nc-cloud-download-93"></i> ดาวน์โหลดฟอร์ม</a>
                </li>
                <li class="nav-item" *ngIf="!loginStatus">
                    <a [routerLink]="['/contact']" class="nav-link"><i class="nc-icon nc-email-85"></i> ติดต่อสอบถาม</a>
                </li>

                <li class="nav-item" *ngIf="loginStatus">
                    <a [routerLink]="['/admin-booking']" class="nav-link"><i class="nc-icon nc-atom"></i> จัดการวันกิจกรรม</a>
                </li>
                <li class="nav-item" *ngIf="loginStatus">
                    <a [routerLink]="['/admin-school']" class="nav-link"><i class="nc-icon nc-bank"></i> จัดการโรงเรียน</a>
                </li>
                <li class="nav-item" *ngIf="loginStatus">
                    <a [routerLink]="['/admin-general']" class="nav-link"><i class="nc-icon nc-settings-gear-65"></i> จัดทั่วไป</a>
                </li>
                
                <li class="nav-item" *ngIf="!loginStatus">
                    <button type="button" class="btn btn-success btn-block btn-round" (click)="openModal()">เจ้าหน้าที่</button>
                </li>
                <li class="nav-item" *ngIf="loginStatus">
                    <button type="button" class="btn btn-danger btn-block btn-round" (click)="onLogout()">ออกจากระบบ</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #modalLoginContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">เข้าสู่ระบบ</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    ชื่อผู้ใช้งาน :
                </div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-success" id="txt-modal-uid" [(ngModel)]="username" autocomplete="false">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-4">
                    รหัสผ่าน :
                </div>
                <div class="col-8">
                    <input type="password" class="form-control form-control-success" id="txt-modal-pwd" [(ngModel)]="password" autocomplete="false">
                </div>
            </div>
        </div>
        <br/>
        <p>
            <ngb-alert [type]="'danger'" (close)="alertStatus = false" *ngIf="alertStatus">ชื่อผู้ใช้งานหรือรหัสผ่านผิด !</ngb-alert>
        </p>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-round" (click)="onLogin()">เข้าสู่ระบบ</button>
    </div>
</ng-template>

<ng-template #modalLogout let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">แจ้งเตือน</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="typography-line">
            <h5>คุณต้องการออกจากระบบหรือไม่ ?</h5>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-round" (click)="onConfirmLogout()">ตกลง</button>
        <button type="button" class="btn btn-danger btn-round" (click)="modal.dismiss('Cross click')">ปิด</button>
    </div>
</ng-template>
