<div class="wrapper">
  <app-header-comp></app-header-comp>
  <div class="main">
    <div class="section">
      <div class="container">
        
        <div class="typography-line">
          <h3>รายละเอียด</h3>
        </div>

        <form>

          <div class="row">
            <div class="col-2">
              <h5>ชื่อโรงเรียน :</h5>
            </div>
            <div class="col-10">
              <div class="form-group has-success">
                <input type="text" class="form-control form-control-success" id="txt-school">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <div class="tim-title">
                    <h5>คุณสามารถเข้าร่วมงานได้หรือไม่ ?</h5>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="opt-join" id="opt-join1" value="Y" [(ngModel)]="joinStatus">
                        สนใจ
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="opt-join" id="opt-join2" value="N" [(ngModel)]="joinStatus">
                        ไม่สนใจ
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6" *ngIf="joinStatus == 'Y'">
              <div class="row">
                <div class="col-12">
                  <div class="tim-title">
                    <h5>หลักสูตร :</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="opt-type" id="opt-type1" value="1" checked>
                        9 - 12 ปี
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="opt-type" id="opt-type2" value="2">
                        13 - 15 ปี
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6" *ngIf="joinStatus == 'N'">
              <div class="row">
                <div class="col-12">
                  <div class="tim-title">
                    <h5>เหตุผล :</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="text" class="form-control form-control-success" id="txt-description">
                </div>
              </div>
            </div>

          </div>

          <div class="row" *ngIf="joinStatus == 'Y'">
            <div class="col-12">
              <div class="tim-title">
                <h5>วันที่สะดวกเข้าร่วม :</h5>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="joinStatus == 'Y'">
            <div class="col-12">

              <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
                </div>
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-success"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      ก่อนหน้า
                    </div>
                    <div
                      class="btn btn-warning"
                      mwlCalendarToday
                      [(viewDate)]="viewDate"
                    >
                      วันนี้
                    </div>
                    <div
                      class="btn btn-success"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      ถัดไป
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  *ngSwitchCase="CalendarView.Month"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  [locale]="locale"
                  [activeDayIsOpen]="activeDayIsOpen"
                  (dayClicked)="dayClicked($event.day)"
                >
                </mwl-calendar-month-view>
              </div>

            </div>
          </div>

          <br /><br /><br />

          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <button type="button" class="btn btn-success btn-block btn-round">บันทึก</button>
            </div>
            <div class="col-2"></div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<ng-template #modalRegContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">กรอกรายละเอียด</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">

        <div class="row">
          <div class="col-3">
            ชื่อโรงเรียน :
          </div>
          <div class="col-9">
            <input type="text" class="form-control form-control-success" id="txt-modal-school">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            ที่อยู่โรงเรียน :
          </div>
          <div class="col-9">
            <textarea class="form-control" id="txt-modal-location" rows="3"></textarea>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            Email :
          </div>
          <div class="col-9">
            <input type="email" class="form-control form-control-success" id="txt-modal-email">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            เบอร์ติดต่อ :
          </div>
          <div class="col-9">
            <input type="text" class="form-control form-control-success" id="txt-modal-school-tel">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            ครูผู้ประสานงาน(หลัก) :
          </div>
          <div class="col-5">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-tel1" placeholder="เบอร์ติดต่อ">
          </div>
          <div class="col-4">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-line1" placeholder="ไลน์">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            ครูผู้ประสานงาน(รอง) :
          </div>
          <div class="col-5">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-tel2" placeholder="เบอร์ติดต่อ">
          </div>
          <div class="col-4">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-line2" placeholder="ไลน์">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            จำนวนนักเรียน :
          </div>
          <div class="col-9">
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="opt-amount" id="opt-amount1" value="30" [(ngModel)]="studentAmount">
                  30 คน
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="opt-amount" id="opt-amount4" value="60" [(ngModel)]="studentAmount">
                  60 คน
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="opt-amount" id="opt-amount5" value="99" [(ngModel)]="studentAmount">
                  อื่นๆ
                <span class="form-check-sign"></span>
              </label>
            </div>
            <input type="text" class="form-control form-control-success" id="txt-modal-stu-amt" placeholder="จำนวนนักเรียน" *ngIf="studentAmount == '99'">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-12">
            <h5>หมายเหตุ : กรุณาส่งรายชื่อนักเรียนที่จะเข้าร่วมค่ายทางไลน์กลุ่มประสาน</h5>
            <h5 style="color: rgb(255, 0, 0)">** ภายใน 7 วัน **</h5>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-round" (click)="modal.close('Save click')">บันทึก</button>
  </div>
</ng-template>