<div class="wrapper">
  <app-header-comp></app-header-comp>
  <div class="main">
    <div class="section">
      <div class="container">
        
        <div class="typography-line">
          <h3>รายละเอียด</h3>
        </div>
        
        <form>

          <div class="row">
            <div class="col-2">
              <h5>ชื่อโรงเรียน :</h5>
            </div>
            <div class="col-10">
              <div class="form-group has-success">
                <input type="text" class="form-control form-control-success" id="txt-school" [(ngModel)]="schoolDetail.name" name="schoolDetail-name">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <div class="tim-title">
                    <h5>คุณสามารถเข้าร่วมงานได้หรือไม่ ?</h5>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="opt-join" id="opt-join1" value="Y" [(ngModel)]="joinStatus">
                        สนใจ
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="opt-join" id="opt-join2" value="N" [(ngModel)]="joinStatus">
                        ไม่สนใจ
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6" *ngIf="joinStatus == 'Y'">
              <div class="row">
                <div class="col-12">
                  <div class="tim-title">
                    <h5>หลักสูตร :</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="opt-type" id="opt-type1" value="1" [(ngModel)]="couseType" (change)="onRefreshEventCalendar()">
                        9 - 12 ปี
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="opt-type" id="opt-type2" value="2" [(ngModel)]="couseType" (change)="onRefreshEventCalendar()">
                        13 - 15 ปี
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6" *ngIf="joinStatus == 'N'">
              <div class="row">
                <div class="col-12">
                  <div class="tim-title">
                    <h5>เหตุผล :</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="text" class="form-control form-control-success" id="txt-not-join" name="txt-not-join" [(ngModel)]="notJoinCause">
                </div>
              </div>
            </div>

          </div>

          <div class="row" *ngIf="joinStatus == 'Y'">
            <div class="col-12">
              <div class="tim-title">
                <h5>วันที่สะดวกเข้าร่วม :</h5>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="joinStatus == 'Y'">
            <div class="col-12">

              <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
                </div>
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-success"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      ก่อนหน้า
                    </div>
                    <div
                      class="btn btn-warning"
                      mwlCalendarToday
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      วันนี้
                    </div>
                    <div
                      class="btn btn-success"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      ถัดไป
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  *ngSwitchCase="CalendarView.Month"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  [locale]="locale"
                  [cellTemplate]="customCellTemplate"
                  (dayClicked)="dayClicked($event.day)"
                >
                </mwl-calendar-month-view>
              </div>

            </div>
          </div>

          <br/><br/>

          <div class="row" *ngIf="joinStatus == 'N'">
            <div class="col-10"></div>
            <div class="col-2">
              <button type="button" class="btn btn-success btn-round btn-block" (click)="saveNotJoin()">บันทึก</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<ng-template #modalRegContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">กรอกรายละเอียด</h4>
    <h6 class="modal-title" id="modal-basic-title">จำนวนนักเรียนคงเหลือ {{eventSelected.title}} คน</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">

        <div class="row">
          <div class="col-3">
            ชื่อโรงเรียน :
          </div>
          <div class="col-9">
            <input type="text" class="form-control form-control-success" id="txt-modal-school" [(ngModel)]="schoolDetail.name" name="schoolDetail-name">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            ที่อยู่โรงเรียน :
          </div>
          <div class="col-9">
            <textarea class="form-control" id="txt-modal-location" rows="3" [(ngModel)]="schoolDetail.location" name="schoolDetail-location"></textarea>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            Email :
          </div>
          <div class="col-9">
            <input type="email" class="form-control form-control-success" id="txt-modal-email" [(ngModel)]="schoolDetail.email" name="schoolDetail-email">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            เบอร์ติดต่อ :
          </div>
          <div class="col-9">
            <input type="text" class="form-control form-control-success" id="txt-modal-school-tel" [(ngModel)]="schoolDetail.tel" name="schoolDetail-tel">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            ครูผู้ประสานงาน(หลัก) :
          </div>
          <div class="col-9">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-name1" [(ngModel)]="schoolDetail.teacherMainName" name="schoolDetail-teacherMainName" placeholder="ชื่อ">
          </div>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-5">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-tel1" [(ngModel)]="schoolDetail.teacherMainTel" name="schoolDetail-teacherMainTel" placeholder="เบอร์ติดต่อ">
          </div>
          <div class="col-4">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-line1" [(ngModel)]="schoolDetail.teacherMainLine" name="schoolDetail-teacherMainLine" placeholder="ไลน์">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            ครูผู้ประสานงาน(รอง) :
          </div>
          <div class="col-9">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-name2" [(ngModel)]="schoolDetail.teacherSubName" name="schoolDetail-teacherSubName" placeholder="ชื่อ">
          </div>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-5">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-tel2" [(ngModel)]="schoolDetail.teacherSubTel" name="schoolDetail-teacherSubTel" placeholder="เบอร์ติดต่อ">
          </div>
          <div class="col-4">
            <input type="text" class="form-control form-control-success" id="txt-modal-teacher-line2" [(ngModel)]="schoolDetail.teacherSubLine" name="schoolDetail-teacherSubLine" placeholder="ไลน์">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-3">
            จำนวนนักเรียน :
          </div>
          <div class="col-9">
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="opt-amount" id="opt-amount1" value="30" [(ngModel)]="schoolAmount" (change)="onChangeAmountStatus('30')">
                  30 คน
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="opt-amount" id="opt-amount4" value="60" [(ngModel)]="schoolAmount" (change)="onChangeAmountStatus('60')">
                  60 คน
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="opt-amount" id="opt-amount5" value="99" (change)="onChangeAmountStatus('99')">
                  อื่นๆ
                <span class="form-check-sign"></span>
              </label>
            </div>
            <input type="number" 
                  class="form-control form-control-success" 
                  id="txt-modal-stu-amt" 
                  placeholder="จำนวนนักเรียน" 
                  [(ngModel)]="schoolAmount" 
                  name="schoolDetail-amount"
                  *ngIf="amountStatus">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-12">
            <h5>หมายเหตุ : กรุณาส่งรายชื่อนักเรียนที่จะเข้าร่วมค่ายทางไลน์กลุ่มประสาน</h5>
            <h5 style="color: rgb(255, 0, 0)">** ภายใน 7 วัน **</h5>
          </div>
        </div>
        <br/>

        <p>
          <ngb-alert [type]="'danger'" (close)="notEnoughModalStatus = false" *ngIf="notEnoughModalStatus">จำนวนนักเรียนคงเหลือ ไม่เพียงพอ !</ngb-alert>
        </p>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-round" (click)="saveBooking()">บันทึก</button>
  </div>
</ng-template>

<ng-template #modalBookingComplted let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">แจ้งเตือน</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="typography-line">
      <h5>บันทึกสำเร็จ !</h5>
    </div>
  </div>
</ng-template>

<!-- Cel templete -->
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cell-h100" *ngIf="day.events.length > 0">
    <div class="cal-cell-top cell-h100" [style.background-color] = "day.badgeTotal > 0 && day.events[0].color.primary == '#00b300' ? '#77dd77' : '#ff6961'">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
  </div>

  <div class="cell-h100" *ngIf="day.events.length == 0">
    <div class="cal-cell-top cell-h100">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
  </div>
</ng-template>