.typography-line {
    padding-left: 0 !important;
}

h3 {
    margin: 0 0 10px;
}
  
pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.w3-animate-top .modal-content{
    position: relative;
    animation: animatetop 0.4s
}

.w3-animate-top .modal-dialog {
    max-width: 700px;
}

@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    } to{
        top:0;
        opacity:1
    }
}

.cal-day-cell.cal-today{
    background-color: #fefec8 !important;
}

.cell-h100 {
    height: 100% !important;
    min-height: 100px !important;
    min-width: 158px !important;
}

button[aria-label="Close"]:focus {
    outline: none;
}

.col-text-center {
    display: flex;
    align-items: center;
}