<div class="wrapper">
    <app-header-comp></app-header-comp>
    <div class="main">
        <div class="section">
            <div class="container">

                <div class="row">
                    <div class="col-9">
                        <div class="typography-line">
                            <h3>ข้อมูลกิจกรรมค่ายใฝ่ดี</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <input type="number" 
                            class="form-control form-control-success" 
                            id="txt-modal-desc" 
                            [(ngModel)]="searchYear">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success btn-round pull-left" (click)="searchByEventYear()"><i class="fa fa-search"></i> ค้นหา</button>
                    </div>
                    <div class="col-5">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success btn-round pull-right" (click)="openModal()"><i class="fa fa-plus"></i> เพิ่มใหม่</button>
                    </div>
                </div>

                <br/>
                <p>
                    <ngb-alert [type]="alertType" (close)="alertStatus = false" *ngIf="alertStatus">{{ alertTxt }}</ngb-alert>
                </p>

                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">หลักสูตร</th>
                      <th scope="col">วันที่เริ่มกิจกรรม</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">จำนวนคงเหลือ</th>
                      <th scope="col" style="width: 10%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let booking of dataDisplay | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <td>{{ booking.course == '1' ? '9 - 12 ปี' : '13 - 15 ปี' }}</td>
                            <td>{{ booking.eventDate }}</td>
                            <td>{{ booking.description }}</td>
                            <td>{{ booking.amount }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-warning btn-sm" (click)="onEditBooking(booking)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="removeBooking(booking)"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                  
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="dataSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                  
                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                        <option [ngValue]="5">5 รายการ</option>
                        <option [ngValue]="10">10 รายการ</option>
                        <option [ngValue]="15">15 รายการ</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #modalBooking let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">กรอกข้อมูลกิจกรรมค่ายใฝ่ดี</h4>
        <button type="button" class="close" aria-label="Close" (click)="onResetForm()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="bookingForm">
            <div class="form-group">
                
                <div class="row">
                    <div class="col-4">
                    หลักสูตร :
                    </div>
                    <div class="col-8">
                        <div class="form-check-radio">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="couseType" id="opt-amount1" value="1" [(ngModel)]="dataItem.course" formControlName="couseType">
                                9 - 12 ปี
                            <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check-radio">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="couseType" id="opt-amount1" value="2" [(ngModel)]="dataItem.course" formControlName="couseType">
                                13 - 15 ปี
                            <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                        วันที่เริ่มกิจกรรม :
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <div class="input-group date">
                                <input class="form-control" 
                                    placeholder="DD/MM/YYYY" 
                                    dateFormat="DD/MM/YYYY" 
                                    name="dp" 
                                    [(ngModel)]="dateModel" 
                                    ngbDatepicker 
                                    #d="ngbDatepicker" 
                                    (click)="d.toggle()" 
                                    formControlName="dateBooking" 
                                    [ngClass]="{ 'is-invalid': submitted && f.dateBooking.errors }"/>
                                <div class="input-group-append">
                                    <span class="glyphicon glyphicon-calendar input-group-text" (click)="d.toggle()">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                    รายละเอียด :
                    </div>
                    <div class="col-8">
                    <input type="text" 
                            class="form-control form-control-success" 
                            id="txt-modal-desc" 
                            [(ngModel)]="dataItem.description"
                            formControlName="description" 
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                    </div>
                </div>
            </div>
        </form>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-round" (click)="addBooking()" *ngIf="mode == 'I'">บันทึก</button>
        <button type="button" class="btn btn-success btn-round" (click)="editBooking()" *ngIf="mode == 'U'">บันทึก</button>
    </div>
</ng-template>